[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
edinet-xbrl = "~=0.2.0"
mamba = "*"
expects = "*"

[requires]
python_version = "3.6"
